.home{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/model-3.jpg');
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.img__header{
    width: 150px;
    height: 50px;
}
.header__center > a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-weight: 500;
    margin-left: 20px;
}
.header__right > a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    
}
.header__right > a:hover{
    background-color: rgb(175, 170, 170);
    border-radius: 15px;
    opacity: 0.5;
    color: rgb(255, 0, 0);
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}
.header__center > a:hover{
    background-color: rgb(175, 170, 170);
    border-radius: 15px;
    opacity: 0.5;
    color: rgb(255, 0, 0);
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}
.header__title{
    text-align: center;
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(46, 46, 46);
}
.header__title >p{
    color: rgb(42, 40, 40);
    padding: 5px;
}
.header__title >p >a{
    color: rgb(42, 40, 40);
}
.order__inventory{
    text-align: center;
    margin-top: 350px;
    display: block;
}
.button {
    position: absolute;
    top: 50%;
}
.order{
    background-color: rgb(47, 46, 46);
    color: white;
    padding: 10px;
    padding-right: 70px;
    padding-left: 70px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-size: 15px;
}
.invent{
    background-color: rgb(255, 244, 244);
    color: rgb(68, 66, 66);
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
}